// Place all the styles related to the Shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shares {
  .share {
    background-color: #fff;
    margin-bottom: 60px;

    .text-right {
      text-align: right;
    }
    .text-left {
      text-align: left;
    }
    .embed-video {
      height: 250px;
    }
    .title>a {
      color: red;
    }
    .sharer {
      color: blue;
    }
  }
}
