// Place all the styles related to the Shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shares {
  .share {
    background-color: #fff;
    margin-bottom: 60px;

    .text-right {
      text-align: right;
    }
    .text-left {
      text-align: left;
    }
    .embed-video {
      height: 250px;
    }
    .title>a {
      color: red;
    }
    .sharer {
      color: blue;
    }
  }

  .pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.current {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  .pagination a:hover:not(.current) {
    background-color: #ddd;
    border-radius: 5px;
  }
  .pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
  }
  .pagination {
    border-left: 1px solid #ddd;
    .first{
      padding : 0;
      float: none;
      border: none;
    }
    .prev {
      padding : 0;
      float: none;
      border: none;
    }
    .page{
      padding : 0;
      float: none;
      border: none;
    }
    .next{
      padding : 0;
      float: none;
      border: none;
    }
    .last{
      padding : 0;
      float: none;
      border: none;
    }
    .current {
      background-color: #4CAF50 !important;
      color: white;
      border-radius: 5px;
    }
  }
}
